.header {
    grid-area: Header;
    background-color: #facb5a;
    border-radius: 0.4em;
}

.header img {
    width: 3.5em;
    margin: 1.2em 0 0 1.3em;
}

.loginBlock a {
    float: right;
    padding: 1.7em 1em 4em 0;
    text-decoration: none;
    color: darkorange;
    font-size: 1.25em;
}

.loginBlock a:hover {
    color: indianred;
    font-weight: 700;
}
.loginBlock span {
    float: right;
    padding: 1.7em 1em 4em 0;
    text-decoration: none;
    color: palevioletred;
    font-size: 1.25em;
    font-weight: 500;
}

.logout {
    transition-duration: 0.4s;
    background-color: bisque;
    color: black;
    border: 2px solid chocolate;
    border-radius: 0.5em;
    padding: 0.35em 0.75em 0.28em 0.75em;
    margin-left: 0.35em;
}

.logout:hover {
    background-color: indianred;
    color: bisque;
    cursor: pointer;
}
