.dialog {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0.4em;
}

.avatar {
    width: 3em;
    border-radius: 2em;
}

.personal {
    padding-top: 0.7em;

}

.personal a {
    text-decoration: none;
    color: #faaf80;
    font-size: 1.3em;
    font-weight: 600;
}