.App {
    display: grid;
    grid-template-areas:
            "Header Header"
            "Navbar Profile";
    grid-template-rows: 95px 10fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 0.75em;
    margin: 1em 10em 0em 10em;
}

.profile {
    grid-area: Profile;
    background-color: #facb5a;
    border-radius: 0.4em;
}